<div class="row">
    <div class="col-sm-4">
        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">Data Freshness</h2>

                <p class="lead">The data on our website is about {{apistats.datafreshness}} hour(s) old.</p>
                
                <p class="">Collections data was last exported around <br/> {{apistats.dateoflastexport}}.</p>
                <p class="">Collections online was last refreshed around <br/> {{apistats.dateoflastrefresh}}.</p>

            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">Collection Statistics</h2>

                <p class="lead">{{apistats.objects.public.count_as_percent}}% of the collection is viewable online.</p>
                <p class="lead">{{apistats.objects.onview.count_as_percent}}% of the collection is on view in galleries.</p>

                <ul class="list-group">
                    <li class="list-group-item"># of active objects in TMS:  {{apistats.objects.count_as_string}}</li>
                    <li class="list-group-item"># of objects online:  {{apistats.objects.public.count_as_string}} </li>
                    <li class="list-group-item"># of objects installed: {{apistats.objects.onview.count_as_string}} </li>
                </ul>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">API Statistics</h2>

                <p class="lead">{{apistats.keys.count_as_string}} keys have been issued since {{apistats.keys.statsdates.start_short}}.</p>
                <p class="lead">The newest key was cut at precisely {{apistats.keys.statsdates.end}}.</p>
                
                <hr>

                <p class="lead">Key Count by Year</p>
                <p>{{{apistats.keys.chart_by_year}}}</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">Alt Text Statistics</h2>

                <p class="lead">{{apistats.objects.alttext.count_as_percent}}% of collection images have alt text.</p>
                <p># of images online with alt text: {{apistats.objects.alttext.count_as_string}}</p>

                <ul class="list-group">
                    {{#each apistats.objects.alttext.by_division}}
                    <li class="list-group-item">{{percent}}% are {{name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">Website Statistics*</h2>

                <p class="lead">{{apistats.pageviews.objects.count_as_string}} individual objects have been viewed on our website to date. That's {{apistats.pageviews.objects.count_as_percent}}% of the collection.</p>
                
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="{{apistats.pageviews.singledaymostviews.object.images.[0].iiifbaseuri}}/full/!400,400/0/default.jpg">
                        <div class="card-body">
                            <div class="card-title">Object with the most views in a single day</div>
                            <p><a href="{{apistats.pageviews.singledaymostviews.object.url}}">{{apistats.pageviews.singledaymostviews.object.title}}</a> was viewed <span class="font-weight-bold">{{apistats.pageviews.singledaymostviews.activitycount}}</span> times on {{apistats.pageviews.singledaymostviews.date}}.</p>
                        </div>
                    </div>     
                 <div class="card">
                        <img class="card-img-top" src="{{apistats.pageviews.alltimemostviews.object.images.[0].iiifbaseuri}}/full/!400,400/0/default.jpg">
                        <div class="card-body">
                            <p>Object with the most views of all time</p>
                            <p><a href="{{apistats.pageviews.alltimemostviews.object.url}}">{{apistats.pageviews.alltimemostviews.object.title}}</a> has been viewed <span class="font-weight-bold">{{apistats.pageviews.alltimemostviews.activitycount}}</span> times since we started tracking pageviews.</p>
                        </div>
                    </div>                                         
                </div>
            </div>

            <div class="card-footer text-muted">
                * Website statistics are based on data collected from Google Analytics and Fathom from {{apistats.pageviews.statsdates.start}} to {{apistats.pageviews.statsdates.end}}
            </div>
        </div>        
    </div> 

    <div class="col-sm-4">
        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">Current Exhibitions</h2>

                <ul class="list-group">
                    {{#if apistats.exhibitions.current.length}}
                        {{#each apistats.exhibitions.current}}
                            <li class="list-group-item"><a href="{{url}}">{{title}}</a> <br/><span class="figure-caption">closes on {{enddate_long}} <br/>{{days_left}} days left</span></li>
                        {{/each}}
                    {{else}}
                        <li class="list-group-item">No current exhibitions</li>
                    {{/if}}                        
                </ul>
            </div>
            <div class="card-body">
                <h2 class="card-title">Upcoming Exhibitions</h2>

                <ul class="list-group">
                    {{#if apistats.exhibitions.upcoming.length}}
                        {{#each apistats.exhibitions.upcoming}}
                            <li class="list-group-item"><a href="{{url}}">{{title}}</a> <br/><span class="figure-caption">opens on {{begindate_long}} <br/>{{days_until_opening}} days until opening</span></li>
                        {{/each}}
                    {{else}}
                        <li class="list-group-item">No upcoming exhibitions</li>
                    {{/if}}
                </ul>
            </div>            
        </div>
    </div>
</div>